.home-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    width: 100%;
    transition: 0.5s;
    &::before {
        content: "";
        width: 50%;
        height: 2px;
        position: absolute;
        left: 12px;
        bottom: -10px;
        background-color: #000000;
        transition: 0.5s;
        transform: scale(0);
    }
    &:hover::before {
        transform: scale(1);
    }
}

.about-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    width: 100%;
    transition: 0.5s;
    &::before {
        content: "";
        width: 50%;
        height: 2px;
        position: absolute;
        left: 16px;
        bottom: -10px;
        background-color: #000000;
        transition: 0.5s;
        transform: scale(0);
    }
    &:hover::before {
        transform: scale(1);
    } 
}

.works-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    width: 100%;
    transition: 0.5s;
    &::before {
        content: "";
        width: 50%;
        height: 2px;
        position: absolute;
        left: 18px;
        bottom: -10px;
        background-color: #000000;
        transition: 0.5s;
        transform: scale(0);
        }
        &:hover::before {
            transform: scale(1);
        } 
}

.blog-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    width: 100%;
    transition: 0.5s;
    &::before {
        content: "";
        width: 50%;
        height: 2px;
        position: absolute;
        left: 12px;
        bottom: -10px;
        background-color: #000000;
        transition: 0.5s;
        transform: scale(0);
    }
    :hover::before {
        transform: scale(1);
    } 
}

.contacts-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    width: 100%;
    transition: 0.5s;
    &::before {
        content: "";
        width: 50%;
        height: 2px;
        position: absolute;
        left: 24px;
         bottom: -10px;
        background-color: #000000;
        transition: 0.5s;
        transform: scale(0);
    }
    &:hover::before {
        transform: scale(1);
    } 
}
