.page-wrapper {
  width: 100%;
}

.container {
  width: 100%;
}

.hero-section {
  width: 100%;
}
.hero-section__block {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(17, 93, 186, 0.476), transparent), url(../img/HeaderBackground.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-section__block-content {
  height: 40vh;
}
.hero-section__title {
  text-align: center;
  display: block;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #FFFFFF;
}
.hero-section__subtitle {
  text-align: center;
  display: block;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  margin-bottom: 50px;
  color: #FFFFFF;
}
.hero-section__input {
  width: 100%;
}

.hero-section__input-button__content {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.scrolldown {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  -webkit-animation: scrolldown 2s linear 2s infinite;
          animation: scrolldown 2s linear 2s infinite;
}

@-webkit-keyframes scrolldown {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -20%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes scrolldown {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -20%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.hero-section__input {
  position: relative;
}
.hero-section__input-button__content {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 50px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
  margin-top: 0.5em;
  padding: 15px;
  background: #5373FD;
  color: #ffffff;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.search-icon {
  margin-top: 5px;
  margin-right: 12px;
}

#input {
  width: 650px;
  height: 60px;
  max-width: 100%;
  padding-left: 20px;
}

#input::-moz-placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2em;
  /* Text Grey */
  color: #999999;
}

#input:-ms-input-placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2em;
  /* Text Grey */
  color: #999999;
}

#input::placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2em;
  /* Text Grey */
  color: #999999;
}

@media (max-width: 1024px) and (min-width: 768px) {
  #input {
    width: 80vw;
  }
}
@media (max-width: 767px) {
  #input {
    width: 90vw;
  }
  #input::-moz-placeholder {
    font-size: 10px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.1em;
  }
  #input:-ms-input-placeholder {
    font-size: 10px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.1em;
  }
  #input::placeholder {
    font-size: 10px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.1em;
  }
  .hero-section__input {
    display: flex;
    justify-content: center;
  }
  .hero-section__input-button__content {
    width: 115px;
    margin-right: 1em;
  }
}
.container {
  max-width: 100%;
  width: 1320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5373FD;
}
.navigation-logo span {
  display: block;
  margin: auto auto;
}
.navigation-logo {
  display: flex;
  justify-content: center;
}
.navigation-menu {
  display: flex;
  list-style: none;
  padding: 0px;
}
.navigation-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
  width: 100%;
  background-color: #5373FD;
}
.navigation-menu li {
  line-height: 20px;
  margin-left: 40px;
}
.navigation-menu__link {
  text-decoration: none;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.logo-link {
  text-decoration: none;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* or 117% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
}

.burger {
  display: none;
}
.burger span {
  background-color: white;
  height: 2px;
  width: 40px;
  margin: 6px auto;
  transition: 0.2s;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .navigation {
    display: block;
    background-color: #5373FD;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .navigation-logo span {
    display: block;
    margin: auto auto;
  }
  .navigation-menu {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  .navigation-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100%;
    background-color: #5373FD;
  }
  .navigation-menu li {
    margin-left: 20px;
    margin-right: 20px;
  }
  .navigation-menu__link {
    text-decoration: none;
    font-family: "Aleo";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
@media (max-width: 767px) {
  .burger {
    display: block;
  }
  .burger span {
    background-color: white;
    height: 2px;
    width: 40px;
    display: block;
    margin: 6px auto;
    transition: 0.2s;
  }
  .navigation {
    height: 84px;
  }
  .navigation-menu {
    position: fixed;
    top: 0;
    right: -200%;
  }
  .navigation-menu.active {
    background-color: #5373FD;
    right: 0px;
    top: 50px;
    width: 100vw;
    height: 30vh;
    display: block;
  }
  .navigation-menu.active .navigation-menu__item {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-right: 40px;
  }
  .burger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active span:nth-child(2) {
    transform: translateY(8px) rotate(45deg);
    opacity: 0;
  }
  .burger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.bg-section--dark__wrapper {
  background-image: url(../img/WhyBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  height: 67vh;
  width: 100%;
}
.bg-section--dark__main {
  display: flex;
  height: 67vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.bg-section--dark__text {
  width: 50%;
}
.bg-section--dark__text h2 {
  /* Heading 2 */
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */
  text-transform: capitalize;
  /* White */
  color: #FFFFFF;
}
.bg-section--dark__text p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.1em;
  /* White */
  max-width: 560px;
  color: #FFFFFF;
}
.bg-section--dark__images {
  width: 50%;
  max-width: 400px;
  margin-left: 20px;
}
.bg-section--dark__upper-image {
  width: 350px;
  height: 220px;
}
.bg-section--dark__down-image {
  width: 350px;
  height: 220px;
  margin-left: 50px;
  margin-top: 15px;
}
.bg-section--dark__button {
  background: #5373FD;
  color: white;
  height: 60px;
  padding: 20px 32px;
  border: none;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
}

.subtext {
  display: inline-block;
  margin: 30px 0;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .bg-section--dark__wrapper {
    background-position: center;
    height: 76vh;
  }
  .bg-section--dark__main {
    flex-direction: column-reverse;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .bg-section--dark__text {
    max-width: 100%;
    width: 768px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }
  .bg-section--dark__images {
    width: 100%;
    max-width: 768px;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    justify-content: center;
  }
  .bg-section--dark__upper-image {
    width: 350px;
    height: 220px;
  }
  .bg-section--dark__down-image {
    width: 350px;
    height: 220px;
    margin-left: 10px;
    margin-top: 0;
  }
  .bg-section--dark__text p {
    margin: 20px auto;
  }
}
@media (max-width: 767px) {
  .bg-section--dark__wrapper {
    background-position: center;
    height: 76vh;
  }
  .bg-section--dark__main {
    flex-direction: column-reverse;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .bg-section--dark__text {
    max-width: 100%;
    width: 768px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }
  .bg-section--dark__images {
    width: 100%;
    max-width: 768px;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    justify-content: center;
  }
  .bg-section--dark__upper-image {
    width: 258px;
    height: 162px;
  }
  .bg-section--dark__down-image {
    width: 258px;
    height: 162px;
    margin-left: 10px;
    margin-top: 0;
  }
  .bg-section--dark__text p {
    margin: 20px auto;
  }
  img {
    width: 258px;
    max-width: 100%;
    height: 162px;
    max-height: 100%;
  }
}
.steps-section {
  background-color: #333333;
}
.steps-section__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
}
.steps-section__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 33%;
}
.steps-section__title {
  display: flex;
  align-items: center;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */
  text-align: center;
  text-transform: capitalize;
  /* White */
  color: #FFFFFF;
}

.lines:before {
  display: block;
  content: "";
  height: 300px;
  width: 100%;
  border-top: 1px dashed #FFFFFF;
  border-radius: 50%;
  position: relative;
  /* left: 300px; */
  left: -50%;
  top: 200px;
}

.lines:after {
  display: block;
  content: "";
  width: 100%;
  height: 300px;
  border-top: 1px dashed #FFFFFF;
  border-radius: 50%;
  position: relative;
  right: -50%;
  top: -260px;
}

.svg-backgroung {
  width: 64px;
  height: 64px;
  position: relative;
  z-index: 2;
  background: #333333;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .steps-section {
    background-color: #333333;
  }
  .steps-section__wrapper {
    flex-direction: column;
    height: 76vh;
    padding: 30px;
  }
  .steps-section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    width: 250px;
  }
  .lines:before {
    display: none;
  }
  .lines:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .steps-section {
    background-color: #333333;
  }
  .steps-section__wrapper {
    flex-direction: column;
    height: 76vh;
    padding: 30px;
    padding-top: 50px;
  }
  .steps-section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    width: 250px;
    max-width: 100%;
  }
  .lines:before {
    display: none;
  }
  .lines:after {
    display: none;
  }
}
.bg-section--house__wrapper {
  width: 100%;
  background-image: url(../img/house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 67vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.bg-section--house__card {
  background-color: rgba(35, 35, 35, 0.9);
  padding: 44px 0px 44px 32px;
  width: 650px;
  max-width: 100%;
  height: 345px;
  max-height: 100%;
  margin-top: 50px;
}

.card__subtext {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  letter-spacing: 0.1em;
  /* White */
  color: #FFFFFF;
  margin-bottom: 16px;
}
.card__title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
  margin-bottom: 16px;
}
.card__text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.1em;
  width: 490px;
  max-width: 95%;
  /* White */
  color: #FFFFFF;
  margin-bottom: 24px;
}
.card__button-text {
  width: 215px;
  height: 60px;
  background-color: #5373FD;
  color: white;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .bg-section--house__wrapper {
    background-position: center;
    height: 68vh;
  }
  .bg-section--house__card {
    background-color: rgba(35, 35, 35, 0.9);
    padding: 44px 0px 44px 32px;
    width: 768px;
    max-width: 100%;
    min-height: 376px;
    max-height: 100%;
    margin: 50px auto;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .bg-section--house__wrapper {
    background-position: center;
    height: 68vh;
  }
  .bg-section--house__card {
    background-color: rgba(35, 35, 35, 0.9);
    padding: 24px 0px 20px 32px;
    width: 768px;
    max-width: 100%;
    max-width: 100%;
    min-height: 420px;
    max-height: 100%;
    margin: 50px auto;
    box-sizing: border-box;
  }
}
.bg-section--spain__wrapper {
  width: 100%;
  background-image: url(../img/spain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 67vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.bg-section--spain__card {
  background-color: rgba(35, 35, 35, 0.9);
  padding: 44px 0px 44px 32px;
  width: 650px;
  max-width: 100%;
  height: 345px;
  max-height: 100%;
  margin-left: auto;
  margin-top: 50px;
}

.card__subtext {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  letter-spacing: 0.1em;
  /* White */
  color: #FFFFFF;
  margin-bottom: 16px;
}
.card__title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
  margin-bottom: 16px;
}
.card__text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.1em;
  /* White */
  color: #FFFFFF;
  margin-bottom: 24px;
}
.card__button-text {
  width: 215px;
  height: 60px;
  background-color: #5373FD;
  color: white;
  cursor: pointer;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .bg-section--spain__wrapper {
    background-position: center;
    height: 68vh;
  }
  .bg-section--spain__card {
    background-color: rgba(35, 35, 35, 0.9);
    padding: 44px 0px 44px 32px;
    width: 768px;
    max-width: 100%;
    min-height: 345px;
    max-height: 100%;
    margin: 50px auto;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .bg-section--spain__wrapper {
    background-position: center;
    height: 68vh;
  }
  .bg-section--spain__card {
    background-color: rgba(35, 35, 35, 0.9);
    padding: 24px 0px 20px 32px;
    width: 768px;
    max-width: 100%;
    max-width: 100%;
    min-height: 420px;
    max-height: 100%;
    margin: 50px auto;
    box-sizing: border-box;
  }
}
.bg-section--grey__wrapper {
  width: 100%;
  background-image: url(../img/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 67vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.bg-section--grey__title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
  width: 375px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.bg-section--grey__image {
  width: 440px;
  height: 280px;
}
.bg-section--grey__card {
  display: flex;
  padding: 0 30px;
  justify-content: center;
}

.card__text {
  width: 640px;
  max-width: 100%;
}

.grey-paragraph {
  width: 640px;
  max-width: 100%;
}

.review-photo {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.quote-icon {
  margin-right: 5px;
}

figcaption {
  padding-left: 40px;
  padding-top: 30px;
}

.card__wrapper {
  box-sizing: border-box;
  background-color: #333333;
  max-width: 885px;
  width: 760px;
  padding-left: 20px;
  padding-bottom: 25px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .bg-section--grey__wrapper {
    background-position: center;
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: baseline;
  }
  .bg-section--grey__title {
    width: 375px;
    margin: 60px auto;
  }
  .bg-section--grey__card {
    display: block;
    padding: 0;
  }
  .bg-section--grey__card-image {
    display: flex;
    justify-content: center;
  }
  .bg-section--grey .review-photo {
    height: 336px;
    width: 720px;
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card__wrapper {
    max-width: 720px;
    max-height: 308px;
    padding-left: 20px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .card__text {
    width: 768px;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .bg-section--grey__wrapper {
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .bg-section--grey__title {
    width: 395px;
    max-width: 100%;
    margin: 30px auto;
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
  .bg-section--grey__card {
    display: block;
    padding: 0;
  }
  .bg-section--grey__card-image {
    display: flex;
    justify-content: center;
  }
  .bg-section--grey .review-photo {
    height: 336px;
    width: 720px;
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card__wrapper {
    max-width: 100%;
  }
  blockquote {
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
  }
}
.footer {
  width: 100%;
  background-color: #000000;
}
.footer-wrapper__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer__title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
}
.footer__subtitle {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin-top: 10px;
  color: #FFFFFF;
}
.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-icon {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.social-icon:hover path {
  fill: #486BFE;
}/*# sourceMappingURL=main.css.map */